.section-wrapper
{
    position: relative;

    .section-inner
    {

    }

    #swiper-1.swiper-container
    {
        width: 100%;
        max-width: 1720px;
        height: 540px;

        .swiper-wrapper
        {}

        .swiper-slide
        {
            display: flex;
            justify-content: center;
            align-items: center;

            .slide-headline
            {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                @include prefix(transform, translate(-50%, -50%));
                z-index: 10;
            }

            .slide-inner
            {}

            .image
            {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: scroll;
                @include prefix(background-size, cover) 
            }
        }
    }

    #swiper-2.swiper-container
    {}

    #swiper-3.swiper-container
    {}
}