#navigation-container
{
    width: 100%;

    &:after
    {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .burger-wrapper
    {
        position: fixed;
        bottom: 25px;
        right: 45px;
        display: block;
        z-index: 1000;

        .burger-button
        {
            width: 58px;
            height: 58px;
            background: $primary-background-color;
            border-radius: 50%;
            cursor: pointer;

            span
            {
                position: relative;
                background: $white;
                height: 3px;
                display: block;
                border-radius: 2px;
                @include prefix(transform-origin, 0% 0%);
                top: 32%;
                @include prefix(transform, translate3d(0, -50%, 0));
                margin: 0 auto;

                &:first-of-type
                {
                    max-width: 30px;
                    width: 100%;
                    margin: 0 auto 8px auto;
                    @include prefix(transform, rotate(0deg));
                    @include prefix(transition, transform .08s linear);
                }

                &:nth-of-type(2)
                {
                    max-width: 30px;
                    width: 100%;
                    margin: 0 auto 8px auto;
                    @include prefix(transform, translate3d(-50%, -50%, 0));
                    @include prefix(transition, transform .19s linear);
                }

                &:last-of-type
                {
                    max-width: 30px;
                    width: 100%;
                    @include prefix(transform, rotate(0deg));
                    @include prefix(transition, transform .08s linear);
                }
            }
        }

        &.active
        {
            .burger-button
            {
                span
                {
                    &:first-of-type
                    {
                        @include prefix(transform, rotate(45deg));
                    }

                    &:nth-of-type(2)
                    {
                        @include prefix(transform, translate3d(400%, -50%, 0));
                    }

                    &:last-of-type
                    {
                        @include prefix(transform, rotate(-45deg));
                    }
                }
            }
        }
    }

    .nav-list-wrapper
    {
        position: fixed;
        top: 0;
        right: 0;
        @include prefix(transform, translate3d(150%, 0, 0));
        max-width: 300px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 500;
        @include prefix(transition, transform .18s ease-in-out .08s);

        &:before
        {
            content: '';
            position: absolute;
            width: 240%;
            height: 100%;
            display: block;
            background: $primary-background-color;
            @include prefix(transform, skew(14deg));
        }

        &.open
        {
            @include prefix(transform, translate3d(0, 0, 0));

            ul
            {
                opacity: 1;
            }
        }

        ul
        {
            padding: 0;
            margin: 0;
            z-index: 1;
        }

        li
        {
            position: relative;
            height: 70px;
            font-size: 24px;
            list-style: none;
            // margin: 40px 15px;
            text-align: center;
            display: block;

            &:first-of-type
            {
                // margin: 0 15px 40px 15px;
            }

            &:last-of-type
            {
                // margin: 40px 15px 0 15px;
            }

            a
            {
                position: absolute;
                overflow: hidden;
                color: black;
                top: 50%;
                left: 50%;
                @include prefix(transform, translate3d(-50%, -50%, 0));
                display: inline;
                text-decoration: none;
                z-index: 1;
                padding: 15px 0;

                &:before
                {
                    content: '';
                    position: absolute;
                    top: 50%;
                    @include prefix(transform, translate3d(-130%, 0, 0));
                    width: 100%;
                    height: 4px;
                    display: block;
                    background: $black;
                    z-index: -1;
                }

                &:hover
                {

                }
            }
        }
    }
}