#navigation-container
{
    width: 100%;

    &:after
    {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .burger-wrapper
    {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        z-index: 1000;

        .burger-button
        {
            width: 74px;
            height: 74px;
            background: transparent;
            padding: 17px 10px;
            cursor: pointer;

            span
            {
                position: relative;
                background: black;
                height: 6px;
                display: block;
                border-radius: 2px;
                float: right;

                @include prefix(transition, width .4s ease-in-out);


                &:first-of-type
                {
                    width: 100%;
                    margin-bottom: 10px;
                    @include prefix(transform, rotate(0deg));
                    @include prefix(transform-origin, 0% 160%);
                    @include prefix(transition, transform .12s ease-in-out);
                }

                &:nth-of-type(2)
                {
                    width: 65%;
                    @include prefix(transform, translate3d(0%, 0, 0));
                    @include prefix(transition, transform .1s linear);
                }

                &:last-of-type
                {
                    width: 100%;
                    margin-top: 10px;
                    @include prefix(transform, rotate(0deg));
                    @include prefix(transform-origin, 20% 0%);
                    @include prefix(transition, transform .12s ease-in-out);
                }
            }
        }

        &.active
        {
            .burger-button
            {
                span
                {
                    &:first-of-type
                    {
                        @include prefix(transform, rotate(45deg));
                    }

                    &:nth-of-type(2)
                    {
                        @include prefix(transform, translate3d(180%, 0, 0));
                    }

                    &:last-of-type
                    {
                        @include prefix(transform, rotate(-45deg));
                    }
                }
            }
        }
    }

    .nav-list-wrapper
    {
        position: fixed;
        top: 0;
        left: 0;
        @include prefix(transform, translate3d(0, 100%, 0));
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 500;
        @include prefix(transition, transform .3s ease-in-out);
        @include prefix(transition-delay, .08s);
        border: 15px solid $white;

        &:before
        {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            background: $primary-background-color;
        }

        &.open
        {
            @include prefix(transform, translate3d(0, 0, 0));

            ul
            {
                opacity: 1;
            }
        }

        ul
        {
            padding: 0;
            margin: 0;
            z-index: 1;
        }

        li
        {
            font-size: 24px;
            list-style: none;
            margin: 40px 15px;
            text-align: center;

            a
            {
                color: black;
                display: inline-block;
                text-decoration: none;
            }
        }
    }
}