*,
*:after,
*:before
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-container
{
    position: absolute;
    width: 100%;
    height: 100%;

    .main-inner-wrapper
    {
        .swiper-container
        {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .swiper-slide
        {   
            // DEMO STYLES
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .page
        {
            width: 100%;

            .content-wrapper
            {
                position: relative;
                padding: 20px;
            }
        }

        .flex-wrapper
        {
            display: block;  
        
            .flex-item-1
            {
                @include dev-mode();

                flex: 1;
                order: 1;
            }

            .flex-item-2
            {
                @include dev-mode();

                flex: 1;
                order: 2;
            }

            .flex-item-3
            {
                @include dev-mode();

                flex: 1;
                order: 3;
            }
        
            .item-inner
            {
                padding: 10px;
            }
        }
    }
}