*,
*:after,
*:before
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
    &.hidden
    {
        overflow: hidden;
    }
}

.main-container
{
    position: relative;
    width: 100%;
    height: 100%;
    border: 15px solid $primary-background-color;

    .main-inner-wrapper
    {
        .page
        {
            width: 100%;

            .content-wrapper
            {
                position: relative;
                padding: 15px;
            }
        }

        .flex-wrapper
        {
            display: block;

            .flex-item-1
            {
                @include dev-mode();

                flex: 1;
                order: 1;
            }

            .flex-item-2
            {
                @include dev-mode();

                flex: 1;
                order: 2;
            }

            .flex-item-3
            {
                @include dev-mode();

                flex: 1;
                order: 3;
            }

            .item-inner
            {
                padding: 10px;
            }
        }
    }

    .button-wrapper
    {
        position: relative;
        display: inline-block;
        // width: 100%;
        // max-width: 250px;
        background: transparent;

        .button-inner
        {
            a
            {
                @include montserrat-bold();
                color: $black;
                text-decoration: none;
                text-align: center;
                display: block;
                border: 3px solid $black;
                padding: 13px 30px;
            }
        }
    }
}