// global font styles and variables
// #3fa9cc
$primary-background-color: #65ecbc;

// Font color and accent color
$white: #fff;
$secondary-font-color: #000;
$error-message-color: #f25c5c;

.headline-h1,
.headline-h2,
.headline-h3
{
    @include montserrat-bold();

    &:after
    {
        content: '';
        position: relative;
        width: 13%;
        left: 0;
        display: block;
        height: 3px;
        margin-top: 8px;
        background: $primary-background-color;
    }
}

.headline-h1
{}

.headline-h2
{}

.headline-h3
{}

p,
.paragraph
{
    @include arvo-italic();
}

span,
.span-headline
{
    @include arvo-bolditalic();
}

li.nav-list-item
{
    @include montserrat-normal();
}

a
{}


// mobile breakpoints
$regular-phone: 360px;
$phone: 480px;
$phone-landscape: 540px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$desktop-large: 1680px;
$desktop-very-large: 1920px;