// global font styles and variables


.headline-h1,
.headline-h2,
.headline-h3
{
    @include montserrat-bold();
}

.headline-h1
{}

.headline-h2
{}

.headline-h3
{}

p,
.paragraph
{
    @include arvo-italic();
}

span,
.span-headline
{
    @include arvo-bolditalic();
}

li.nav-list-item
{
    @include montserrat-normal();
}

a
{

}

// mobile breakpoints
$regular-phone: 360px;
$phone: 480px;
$phone-landscape: 540px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$desktop-large: 1680px;
$desktop-very-large: 1920px;